<html>
    <head>
        <title>Apple of my Eye</title>
    </head>
    <body>
        <div>
            <h1><a href="">HAPPY BIRTHDAY, SAKSHAM!!!</a></h1>
        </div>

        <div>
            <p>Born: May 20th 2005</p>
            <h2><a href="">You were born to be my Birthday gift! </a></h2>
            <p> It is such an exciting experience to watch our cute little boygrowing and turning into a wonderful person. wishing you All The Best, Darling!!! </p>
        </div>

        <div>
            <h2><a href="">Here is what your name means!</a></h2>
            <p>SAKSHAM : Capable</p>
            <p>You are a knowledgeable person, your curiosity about everything leads to a little knowledge about a lot of things.</p>
        </div>
    </body>
</html>